*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

#sizeChart{
    cursor: pointer;
    width: 25%;
    margin-top: 2%;
}

#sizeChart:hover{
    color: #d49c6b;
}

#Chart .close{
    padding: 2%;
    font-size: 150%;
    margin: 0;
    color: white;
    text-align: right;
    width: 95%;
    cursor: pointer;
}

#Chart .close:hover{
    color: #d49c6b;
}

#Chart table{
    margin: auto;
    width: 95%;
    height: 80%;
    text-align: center;
}

#Chart{
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 30%;
    overflow-x: hidden;
    background-color: #252b31;
    color: white;
}

.main-body-detail{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    position: relative;
    top: 150px;
}

.konten-detail{
    display: flex;
    width: 95%;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

#wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1%;
    margin-top: 10px;
}

#featured{
    width: 60%;
    height: 60%;
    margin: auto;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
}

#slider{
    margin-right:5px;
    max-width: 100%;
    display: inline-flex;  
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#slider .thumbnail{
    margin-left: 1%;
    margin-bottom: 6px;
    object-fit: cover;
    width: 13.5%;
    height: 13.5%;
    cursor: pointer;
    opacity: 0.5;
    border: 1px solid black;
}

#slider .thumbnail:hover{
    opacity: 1;
    border: 2px solid black;
}

#slider .active{
    opacity: 1;
}

#slider .active:hover{
    transform: none;
}
  
.left-body{
    width: 50%;
    margin-top: 30px;
}

.forms{
    display: block;
    margin-top: 3%;
}

.forms select{
    cursor: pointer;
}

#kanan{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.right-body{
    width: 50%;
    height: auto;
    text-align: left;
    right: 0;
    margin-top: 30px;
    display: flex;
}

#counter{
    margin-top: 4%;
}

#counter button{
    margin: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #d49c6b;
    box-shadow: 0 5px #916845;
    color: white;
    cursor: pointer;
    border: none;
}

#counter button:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

#btn{
    display: flex;
    margin-top: 4%;
}

#status{
    background-color: #252b31;
    color: #f6fafb;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

#status:hover{
    background-color: #d49c6b;
}

#fav{
    background-color: white;
    border: none;
    color: #d49c6b;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

#fav:hover{
    color: #916845;
    font-weight: 500;
}

p{
    margin-top: 4%;
    color: #5e6668;
    font-size: 15px;
    width: 90%;
}

.Related{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    position: relative;
    top: 150px;
}

.Related .relatedProduct{
    width: 95%;
    text-align: left;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 25px 0px;
}

.relatedProduct h3{
    margin-left: 30px;
    margin-bottom: 15px;
    font-weight: 400;
}

#konteiner{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#konteiner .fa{
    font-size: 300%;
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

#konteiner .fa:hover{
    color: #d49c6b;
    font-size: 400%;
}

#card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
    max-width: 82.5%;
}

#card .isi{
    width: 177px;
    height: 300px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin: 5px;
    cursor: pointer;
}

#card .isi:hover{
    border: 2px solid #d49c6b;
}

#card .isi img{
    width: 100%;
}

#card .isi p{
    padding-bottom: 20px;
}

#card .isi h4{
    padding-top: 10px;
    padding-bottom: 20px;
    height: 80px;
}

@media (max-width: 1257px){
    h1{
        font-size: 28px;
    }
    h3{
        font-size: 17px;
    }
    p{
        font-size: 13px;
    }
    h4{
        font-size: 15px;
    }
    #fav{
        font-size: 15px;
        width: 50%;
    }
    footer p{
        font-size: 14px;
    }
}

@media (max-width: 1137px){
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    .right-body{
        height: auto;
    }
    #fav{
        font-size: 14px;
        width: 60%;
    }
    #sizeChart{
        width: 30%;
    }
    #btn{
        margin-top: 2%;
    }
    #kanan .bawah{
        padding-bottom: 4%;
    }
}

@media (max-width: 1000px){
    .left-body{
        width: 100%;
        margin-top: 30px;
    }
    .right-body{
        margin-top: 3%;
        width: 100%;
    }
    .konten-detail{
        display: block;
    }
    #featured{
        max-width: 60%;
        max-height: 60%;
    }
    #slider .thumbnail{
        width: 13.5%;
        height: 13.5%;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 18.72px;
    }
    p{
        font-size: 14px;
        width: 100%;
    }
    h4{
        font-size: 16px;
    }
    #kanan{
        width: 90%;
        margin: auto;
    }
    #card .isi{
        width: 168px;
    }
    #card .isi h4{
        font-size: 14px;
    }
    #card .isi p{
        font-size: 12px;
    }
    #btn{
        width: 60%;
    }
    #fav{
        font-size: 15px;
    }
    
}

@media(max-width: 800px){
    #card .isi h4{
        font-size: 12px;
        padding: 10px 0;
        height: 30px;
    } 
    #card .isi p{
        font-size: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 670px) {
    h1{
        font-size: 26px;
    }
    h3{
        font-size: 17px;
    }
    h2{
        font-size: 22px;
    }
    p{
        font-size: 13px;
    }
    h4{
        font-size: 15px;
    }
    #Chart table{
        font-size: 12px;
        height: 80%;
    }
    #Chart .close{
        font-size: 100%;
    }
    #btn{
        width: 100%;
        display: block;
    }
    #status{
        width: 95%;
    }
    #fav{
        margin-top: 2%;
        width: 95%;
    }
    #card .isi{
        width: 100px;
        height: 200px;
    }
    #card .isi h4{
        height: 30px;
    } 
    
}

@media (max-width: 398px) {
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
    #status{
        font-size: 10px;
    }
    #fav{
        font-size: 10px;
    }
    #sizing, #colors{
        font-size: 11px;
    }
    #Chart table{
        font-size: 9.5px;
        height: 80%;
    }
    #Chart .close{
        font-size: 80%;
        padding: 0;
    }
    #card .isi h4{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 10px;
        height: 35px;
    }
    #card .isi p{
        font-size: 10px;
        padding-bottom: 10px;
    }
    #card .isi{
        width: 100px;
        height: 180px;
    }
    #konteiner .fa{
        font-size: 200%;
    }
}

@media(max-width: 373px){
    #card .isi{
        height: auto;
    }
    #card .isi h4{
        font-size: 10px;
        padding-top: 3px;
        padding-bottom: 5px;
        height: 50px;
    }
    #card .isi p{
        font-size: 8px;
        padding-bottom: 5px;
    }
    #sizeChart{
        font-size: 10px;
    }
}

/*Header & Footer*/

#h{
    height: 145px;
    padding-top: 10px;
}

.header ul{
    margin: 0 0 10px;
    padding: 0 0 0 40px;
    list-style-type: none;
    font-size: 14px;
}

.header .navbar a{
    font-weight: 500;
}

.header .navbar{
    margin: 0 0 20px;
}

.header .navbar label{
    padding-top: 21px;
    padding-right: 1px;
    transform: scale(1.063,1);
}

/* .icon{
    margin-top: 4px;
} */

.menu{
    padding-top: 11px;
}

.menu .link{
    margin-left: 0;
    position: relative;
    left: -5px;
}

footer{
    margin-bottom: 10px;
    position: relative;
    top: 150px;
}

footer h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

footer p{
    margin: 0 0 10px;
    color: white;
    opacity: 0.8;
    font-weight: 500;
    font-size: 14px;
}

footer ul{
    padding: 0 0 0 40px;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 500;
}

footer .socials .fab{
    font-size: 18px;
    width: 100%;
}

footer input{
    font-weight: 500;
}

footer .copyright p{
    width: 100%;
}

@media(max-width: 900px) {
    #h{
        height: auto;
        padding-bottom: 20px;
    }
}